.route-container {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    flex-direction: column;
    
    .route-header-container {
        background: $white;
		box-shadow: 0 1px 2px 0 rgba(32,43,51,0.07), 0 1px 7px 0 rgba(92,112,128,0.05), 0 12px 42px 0 rgba(115,134,149,0.10);
		z-index: 10;
    }

	.route-header {
		height: 50px;
		display: flex;
		flex-grow: 0;
		flex-shrink: 0;
		justify-content: space-between;
		padding: 0 10px;
		align-items: center;
       
		.route-header-left {
            display: flex;
            align-items: center;

			.bp3-button {
                margin: 0 5px 0 0;
                position: relative;
                top: 0px;
			}
		}

		.route-title {
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0.34px;
			position: relative;
            top: -2px;
            
            // @media only screen and (max-width: $mobile) {
            //     color: red
            // }
		}

		.route-actions {
            display: flex;
            position: relative;

			li {
                margin: 0 0 0 20px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    right: -10px;
                    top: 5px;
                    height: 20px;
                    border-right: $light-gray3 1px solid
                }

                &:last-child {
                    &::before {
                        display: none;
                    }
                }
			}
		}
	}

	.route-content-container {
		flex-grow: 1;
		flex-shrink: 1;
		position: relative;
		display: flex;
        overflow-y: scroll;
        
        .route-content {
			flex-grow: 1;
			flex-shrink: 1;
			display: flex;
			flex-direction: column;
		}

		// .route-sidebar {
		// 	width: 350px;
		// 	flex-grow: 0;
		// 	flex-shrink: 0;
		// 	border-left: $lightBorder;
		// 	background: $white;
		// 	display: flex;
		// 	flex-direction: column;

		// 	&.route-sidebar-right {
		// 		border-left: $lightBorder; 
		// 		border-right: none;
		// 	}

		// 	.route-sidebar-header {
		// 		display: flex;
		// 		justify-content: space-between;
		// 		border-bottom: $lightBorder;
		// 		height: 50px; 
		// 		flex-grow: 0;
		// 		flex-shrink: 0;
		// 		align-items: center;
		// 		padding: 0 15px;

		// 		.route-sidebar-header-section {
		// 			position: relative;
		// 			top: -1px;

		// 			.route-sidebar-header-title {
		// 				font-size: 12px;
		// 				text-transform: uppercase;
		// 				letter-spacing: 0.8px;
		// 				font-weight: bold;
		// 			}

		// 			.bp3-button {
		// 				margin: 0 0 0 5px
		// 			}
		// 		}
		// 	}

		// 	.route-sidebar-content {
		// 		display: flex;
		// 		flex-grow: 1;
		// 		flex-shrink: 1;
		// 		padding: 15px;
		// 		overflow-y: auto;

		// 		.item-filters-form {
		// 			width: 100%;
		// 		}

		// 		.input-group {
		// 			flex-direction: column;

		// 			.input-label {
		// 				margin: 0 0 5px 0;
		// 				letter-spacing: 0.5px;
		// 			}
		// 		}

		// 		.input-group .input-group-right .input-error {
		// 			top: -20px;
		// 			right: 0;
		// 			left: inherit;
		// 		}
		// 	}
		// }
	}

	&.route-details {
		background: $light-gray5;
	}
}

.spinner-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
}

.placeholder {
    height: 3000px;
}

.bp3-tabs {
	width: 100%;
	display: flex;
	justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    display: flex;
    overflow-y: scroll;

	.bp3-tab {
		position: relative;
		top: 1px;
	}

	.bp3-tab-list  {
		flex-grow: 0;
		flex-shrink: 0;
		padding: 0 20px 0 20px;
		border-bottom: $lightBorder;
	}

	.bp3-tab-panel {
		flex-grow: 1;
		flex-shrink: 1;
		margin-top: 0;
		overflow-y: scroll;
	}
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;

    &.open {
        z-index: 100;
    }

    .logo svg {
        width: 120px;
    }

    .menu-background {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: rgba($dark-gray4, 0.3);
        transition: all 0.2s;
        opacity: 0
    }
    
    .menu-links-container {
        background: $white;
        width: 250px;
        padding: 0 0 0 0;
        overflow-y: scroll;
        z-index: 2;
        position: fixed;
        top: 0;
        transform: translateX(-250px);
        bottom: 0;
        transition: all 0.2s;
    }

    &.open {
        .menu-background {
            opacity: 1
        }

        .menu-links-container {
            transform: translateX(0);
        }
    }

    &.transition-out {
        .menu-background {
            opacity: 0
        }

        .menu-links-container {
            transform: translateX(-250px);
        }
    }

}

.app-logo {
    margin: 25px 20px 0 20px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

    .bp3-button {
        position: relative;
        top: -3px;
        right: -5px;
    }
}

.tab-container {
	ul.tab-list {
		display: flex;
		width: 100%;
		overflow-x: auto;
		padding: 0 25px 10px 17px;

		li.tab-link-container {
			margin: 0 20px 0 0;

			.tab-link-wrapper {
				transition: 0.2s all;
				padding: 5px 0 5px 0;
				font-weight: 500;
				color: $gray3;
				font-size: 14px;
				border-radius: 3px;
				letter-spacing: 0.34;

				span {
					position: relative;
					top: -1px;
					white-space: nowrap;
					user-select: none;
				}

				&:hover {
					color: $black;
					cursor: pointer;
				}
			}

			&.tab-link-active {

				.tab-link-wrapper {
					padding: 5px 10px 5px 10px;
					color: $white;
					background: $blue4;
				}
			}

			&:last-child {
				padding-right: 50px !important;
			}
		}
	}
}

.user-email {
	flex-grow: 0;
	flex-shrink: 0;
	height: 80px;
	width: 100%;
	border-top: 1px solid $light-gray4;

	.email {
		width: 180px;
		height: 20px;
		margin: 20px 0 0 20px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

.options-bar-container {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid $light-gray4;

	.options-query-container {
		position: relative;
		margin: 0 0 0 10px;

		.query-reset-button {
			position: absolute;
			top: 2px;
			right: 0;
		}
	}

	.options-actions {
		padding: 0 10px 0 0;
		ul.options-action-list {
			display: flex;
			position: relative;
			top: 3px;

			li {
                margin: 0 0 0 20px;
				position: relative;

				.bp3-button-text {
					font-size: 12px;
					color: $gray3;
				}

                &:before {
                    content: "";
                    position: absolute;
                    right: -10px;
                    top: 2px;
                    height: 20px;
					border-right: $light-gray3 1px solid
                }

                &:last-child {
                    &::before {
                        display: none;
                    }
                }
			}
		}
	}
}

.drawer-container {
    position: fixed;
    left: 0;
    right: 0;
	z-index: 0;
	bottom:0;
	overflow: hidden;
	visibility: hidden;

    &.open {
		z-index: 100;
		visibility: visible;
    }

    .logo svg {
        width: 120px;
    }

    .drawer-background {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: rgba($dark-gray4, 0.3);
        transition: all 0.2s;
        opacity: 0
	}

	.drawer-content-container {
		background: $white;
		width: 100%;
		padding: 20px;
        overflow-y: scroll;
        z-index: 2;
		transition: all 0.2s;
		z-index: 100;
		position: absolute;
		max-height: 90%;
		transform: translateY(-90%);
	}

	&.open {
        .drawer-background {
            opacity: 1
		}
		
		.drawer-content-container {
			transform: translateY(0%);
		}
	}

    &.transition-out {
        .drawer-background {
            opacity: 0
		}
		
		.drawer-content-container {
		}
    }
}

.filter-drawer {
	display: block;
	height:750px;
	transition: all 0.2s;
}

.sort-drawer {
	display: block;
	height:250px;
	transition: all 0.2s;
}

.view-drawer {
	display: block;
	height:300px;
	transition: all 0.2s;
}

.shelf-container {
	transition: all 0.2s;
	overflow: hidden;
	position: relative;
	width: 100%;

	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 2;
	}

	.shelf-content-container {
		overflow-y: scroll;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

}