// reset
@import "./imports/reset";

// blueprint
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

// imports
@import "./imports/colors";
@import "./imports/fonts";
@import "./imports/variables";
@import "./imports/links";
@import "./imports/blueprint_overides";
@import "./imports/animations";

//components
@import "../react/components/form/InputGroup";
@import "../react/components/nav/index";
@import "../react/components/list/list_header";
@import "../react/components/list/list_results";
@import "../react/components/scraping_controls/scrapingControls";

//Pages
@import "../react/pages/auth/auth";
@import "../react/pages/scraping/search_results/tabStatus";

html {
	// overflow: hidden;
	// overflow-y: scroll;
	touch-action: manipulation;
}

body {
	margin: 0;
	padding: 0;
	background: $white;
	font-family: "A", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	// -webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	color: $black;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
}

// Selection
// -------------------------

::selection {
  background: yellow;
  color: $black;
}

::-moz-selection {
  background: yellow;
  color: $black;
}

// Links
// -------------------------

a {
	color: $blue4;
	text-decoration: none;

	&:hover {
		color: $blue2;
		text-decoration: none;
	}

	&:active {
		color: $blue3;
	}
}

.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 970px;
  // border-bottom: 1px solid rgba($white, 0.3);
}

.app {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	display: flex;

	.app-sidebar {
		flex-grow: 0;
        flex-shrink: 0;
        background: $white;
		width: 244px;
		height: 100%;
		overflow-y: auto;
		border-right: 1px solid $light-gray2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.app-route-container {
		flex: 1 1;
		position: relative;
		background: $light-gray5;
		
	}

	.app-logo {
		margin: 30px 20px;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
	}
	
	.signout {
		margin: 20px;
	}

	.user-email {
		flex-grow: 0;
		flex-shrink: 0;
		height: 80px;
		width: 100%;
		border-top: 1px solid $light-gray2;

		.email {
			width: 180px;
			height: 20px;
			margin: 20px 0 0 20px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}

// .route-content  {
// 	display: flex;
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// }

.bp3-button {
	font-family: "A", sans-serif;
	font-weight: 400;

	@media only screen and (max-width: $mobile) {
		font-weight: 500;
	}

	.bp3-button-text {
		position: relative;
		top: -1px;
	}

	&.bp3-large {
		.bp3-button-text {
			

			@media only screen and (max-width: $mobile) {
				top: -2px;
			}
		}

		
	}

	&.bp3-small {
		.bp3-button-text {
			top: -1.5px;
		}
	}
}

.bp3-input {
	&::placeholder {
		position: relative;
		top: -2px;
	}
}

.route-container {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: column;

	.route-header {
		height: 70px;
		border-bottom: $lightBorder;
		display: flex;
		flex-grow: 0;
		flex-shrink: 0;
		justify-content: space-between;
		padding: 0 15px;
		align-items: center;
		background: $white;

		.route-header-left {
			display: flex;

			.bp3-button {
				margin: 0 20px 0 0;
			}
		}

		.route-title {
			font-size: 34px;
			font-weight: 600;
			letter-spacing: 1px;
			position: relative;
			top: -3px;
		}

		.route-actions {
			display: flex;

			li {
				margin: 0 0 0 10px;
			}
		}
	}

	.route-content-container {
		flex-grow: 1;
		flex-shrink: 1;
		position: relative;
		display: flex;
		overflow-y: scroll;

		.route-sidebar {
			width: 350px;
			flex-grow: 0;
			flex-shrink: 0;
			border-left: $lightBorder;
			background: $white;
			display: flex;
			flex-direction: column;

			&.route-sidebar-right {
				border-left: $lightBorder; 
				border-right: none;
			}

			.route-sidebar-header {
				display: flex;
				justify-content: space-between;
				border-bottom: $lightBorder;
				height: 50px; 
				flex-grow: 0;
				flex-shrink: 0;
				align-items: center;
				padding: 0 15px;

				.route-sidebar-header-section {
					position: relative;
					top: -1px;

					.route-sidebar-header-title {
						font-size: 12px;
						text-transform: uppercase;
						letter-spacing: 0.8px;
						font-weight: bold;
					}

					.bp3-button {
						margin: 0 0 0 5px
					}
				}
			}

			.route-sidebar-content {
				display: flex;
				flex-grow: 1;
				flex-shrink: 1;
				padding: 15px;
				overflow-y: auto;

				.item-filters-form {
					width: 100%;
				}

				.input-group {
					flex-direction: column;

					.input-label {
						margin: 0 0 5px 0;
						letter-spacing: 0.5px;
					}
				}

				.input-group .input-group-right .input-error {
					top: -20px;
					right: 0;
					left: inherit;
				}
			}
		}

		.route-content {
			flex-grow: 1;
			flex-shrink: 1;
			display: flex;
			flex-direction: column;
		}
	}

	&.route-details {
		background: $light-gray5;
	}
}

.spinner-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
}

.dialog-content {
	margin: 20px;
}

.item-details-container {
	margin: 30px;
}

.results-container {
	flex-grow: 1;flex-shrink: 1;
}

.route-scraping {
	background: $white
}

.route-title-tabs {
	padding: 20px 20px 10px 20px;
	font-size: 34px;
	font-weight: 300;
	letter-spacing: 1px;
	position: relative;
	color: $gray4;
	top: -3px;

	span {
		color: $black;
		font-weight: 400;
	}
}

.bp3-tabs {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	.bp3-tab {
		position: relative;
		top: 1px;
	}

	.bp3-tab-list  {
		flex-grow: 0;
		flex-shrink: 0;
		padding: 0 20px 0 20px;
		border-bottom: $lightBorder;
	}

	.bp3-tab-panel {
		flex-grow: 1;
		flex-shrink: 1;
		margin-top: 0;
		overflow-y: scroll;
	}
}